# Configurações do PostgreSQL
POSTGRES_IMAGE_VERSION=postgres:18.6-alpine
POSTGRES_USER=smarkee
# Obrigatório. Gere com: openssl rand -hex 16
POSTGRES_PASSWORD=
POSTGRES_DB=smarkee
POSTGRES_PORT=5432
